.git
.github
**/.venv
**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache
**/.basedpyright
**/.python-version
**/test
**/tests
docs
*.md
.env
.env.*
!.env.example
docker-compose.yml
Dockerfile.base
**/.DS_Store
